enable 
configure terminal
!Marketing SubInterface
interface 0/0/1.20
! every frame going to the interface 
!belongs to the marketing 20
encapsulation dot1Q 20
ip address 192.168.20.254 255.255.255.0
ip helper-address 192.168.30.3
no shutdown
exit

!HUMAN_RESSOURCES SubInterface
interface 0/0/1.21
! every frame going to the interface 
!belongs to the human_ressources 21
encapsulation dot1Q 21
ip address 192.168.21.254 255.255.255.0
ip helper-address 192.168.30.3
no shutdown
exit
!DIRECTION SubInterface
interface 0/0/1.22
! every frame going to the interface 
!belongs to the direction 22
encapsulation dot1Q 22
ip address 192.168.22.254 255.255.255.0
ip helper-address 192.168.30.3
no shutdown
exit
!Services SubInterface
interface 0/0/1.30
! every frame going to the interface 
!belongs to the services 30
encapsulation dot1Q 30
ip address 192.168.30.254 255.255.255.0
no shutdown
exit